 body {
     background-color: slategray;
 }

 #title {
    margin: auto;
    text-align: center;
    border: double black 2px;
    font-family: 'Lora', serif;
}

#statements {
    background-color: chartreuse;
    border: 1px dotted black;
    width: 50%;
}

<<<<<<< HEAD
.events {
    background-color: chartreuse;
    border: 1px dotted black;
    width: 50%;
    

}
=======
#congressionalDistrict {
    margin: auto;
    text-align: center;
    font-weight: bold;

}

>>>>>>> 83943f7506f1e8d892f552bbecc8459f516073dd
